@{
    ViewData["Title"] = "CIDM 3312 01";
}
<h2>CIDM 3312 01</h2>
<p><a href="/attendance/?rm=sum&amp;u=CIDM&amp;n=3312&amp;e=01">Click here for an attendance summary for this course</a></p>
<ul>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377487"><span class="mdate">Monday 28 August 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377488"><span class="mdate">Wednesday 30 August 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377489"><span class="mdate">Wednesday 06 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377490"><span class="mdate">Monday 11 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377491"><span class="mdate">Wednesday 13 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377492"><span class="mdate">Monday 18 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377493"><span class="mdate">Wednesday 20 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377494"><span class="mdate">Monday 25 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377495"><span class="mdate">Wednesday 27 September 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377496"><span class="mdate">Monday 02 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377497"><span class="mdate">Wednesday 04 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377498"><span class="mdate">Monday 09 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377499"><span class="mdate">Wednesday 11 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377500"><span class="mdate">Monday 16 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377501"><span class="mdate">Wednesday 18 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377502"><span class="mdate">Monday 23 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377503"><span class="mdate">Wednesday 25 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377504"><span class="mdate">Monday 30 October 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377505"><span class="mdate">Wednesday 01 November 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377506"><span class="mdate">Monday 06 November 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377507"><span class="mdate">Wednesday 08 November 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377508"><span class="mdate">Monday 13 November 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377509"><span class="mdate">Wednesday 15 November 2017</span> CC205</a></li>
    <li><a href="/attendance/?rm=a&amp;u=CIDM&amp;n=3312&amp;e=01&amp;i=2377510"><span class="mdate">Monday 20 November 2017</span> CC205</a></li>
    <li><span class="mdate">Monday 27 November 2017</span> CC205</li>
    <li><span class="mdate">Wednesday 29 November 2017</span> CC205</li>
    <li><span class="mdate">Monday 04 December 2017</span> CC205</li>
    <li><span class="mdate">Wednesday 06 December 2017</span> CC205</li>
</ul>
